.calculator {
  background-color: #ccc;
  padding: 45px;
  border-radius: 10px;
  max-width: 90%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
.info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.form input, form select{
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 85px;
}
#montoTotal, #montoTotalTip, #montoTotalPerPerson {
  outline: none;
}
.info__input {
  display: flex;
  gap: 5px;
  align-items: center;
}
.form__btn {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.btn {
  background-color: #2b2b2b;
  color: #fff;
  width: 80px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #515151;
}
.calculator__dark{
  background-color: #1a1919;
}
.calculator__dark .btn{
  color: #000;
  background-color: #ccc;
}
.calculator__dark .btn:hover{
  background-color: #a9a7a7;
}