.container{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    transition: .5s;
}
.dark{
    background-color: #2b2b2b;
    color: #fff;
}